<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>All Expense</title>
<style>
table, tr,h1,td {
text-align: centre;
  border: 1px solid black;
  padding: 5px;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background-color: white;
}
body{
background-color: 66CCFF;
}
</style>
</head>
<body style="background-color:#9999FF;">
   <div>
		<h1>List of Expense</h1>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
		<div class="container">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Expense Id</th>
					<th>Expense Date</th>
					<th>Description</th>
					<th>Location</th>
					<th>Category Id</th>
				</tr>
			</thead>
			</div>
			<tbody class="container">
				<tr th:each="user: ${listUsers}">
					<td th:text="${user.Id}">ID</td>
					<td th:text="${user.expense_id}">Expense Id</td>
					<td th:text="${user.expense_date}">Expense Date</td>
					<td th:text="${user.description}">Description</td>
					<td th:text="${user.location}">Location</td>
					<td th:text="${user.category_id}">Category Id</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>